.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
  align-items: center;
}

.board-item {
  background-color: white;
  font-size: 24px;
  text-align: center;
  height: 100%;
}
